*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




html {
    height: 100%;
    }

body {
    margin: 0;
    padding: 0;
    background-image: url("image/waterfall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        }

.container h3{
    font-size: 14px;
    padding-top: 5px;
    margin-left: 15px;
}

.container h5{
    font-size: 14px;
    padding-top: 5px;
    margin-left: 15px;
}








        
.fas fa-star{

    margin-left: auto;
    
            
        }

.price-display{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: red;
            
            
        }

.text-muted{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: red;
    margin-left: 15px;
            
        }



.page {
    min-height: 100% !important;
        }










.color-picker-body,
.purchased-items {
    display: flex;
    flex-wrap: wrap;
        }

.color-box,
.purchased-item-box {
    width: 34px;
    height: 34px;
        }

.color-item,
.purchased-item {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 5px;
    border-radius: 12px;
        }

.color-item.active:after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 17px;
    border: 2px solid gray;
        
        }

.quantity-control-button {
    width: 60px;
    height: 60px;
    position: relative;

    border-radius: 48px;
    display: inline;
    border: none;

    background-repeat: no-repeat;
    background-position: center center;

        }

.quantity-control-button:focus {
    outline: none;
        }

        

.quantity-control-widget{
    display: flex;
    justify-content: flex-end;
    align-items: center;
                }

#quantity-control-item-name-display{
    margin-right: 8px;
        }

#quantity-control-value-display{
    margin: 0 16px;
    font-weight: bold;
    font-size: 24px;
        }


      